main {
    width: -webkit-calc(100% - 300px);
    display: block;
    width: calc(100% - 300px);
    margin-left: 300px;
    @include bp-xlg {
        width: -webkit-calc(100% - 280px);
        display: block;
        width: calc(100% - 280px);
        margin-left: 280px;
    }
    @include bp-lg {
        width: -webkit-calc(100% - 260px);
        display: block;
        width: calc(100% - 260px);
        margin-left: 260px;
    }
    @include bp-md {
        width: -webkit-calc(100% - 240px);
        display: block;
        width: calc(100% - 240px);
        margin-left: 240px;
    }
    @include bp-sm {
        width: 100%;
        margin-left: 0;
    }
    .content-section {
        padding-top: 3.75rem;
        .container-wrapper {
            @extend .margin-center;
            max-width: 930px;
            width: 100%;
            @include bp-xlg {
                max-width: 860px;
            }
            @include bp-lg {
                max-width: 810px;
            }
            @include bp-md {
                max-width: 720px;
            }
            .update-status {
                padding-left: 15px;
                padding-right: 15px;
                position: relative;
                input {
                    @extend .transition;
                    @extend .text-center;
                    @include border-radius(5px);
                    @include padding-all(20px);
                    width: 100%;
                    background-color: #f7f7f7;
                    border-color: #f7f7f7;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    font-size: 1.5rem;
                    border: 1px solid #f3f3f3;
                    height: 105px;
                    &:focus {
                        border: 1px solid #f3f3f3;
                        -webkit-box-shadow: 0 7px 17px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
                        box-shadow: 0 7px 17px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
                        outline: 0 none;
                    }
                }
                .post-type {
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -webkit-align-items: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -webkit-box-pack: end;
                    -webkit-justify-content: flex-end;
                    -ms-flex-pack: end;
                    justify-content: flex-end;
                    position: absolute;
                    bottom: -23px;
                    right: 40px;
                    @include bp-md {
                        right: 25px;
                    }
                    .icon-circle {
                        @extend .transition;
                        @include border-radius(50%);
                        width: 60px;
                        height: 60px;
                        background-color: white;
                        -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
                        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -webkit-align-items: center;
                        -ms-flex-align: center;
                        align-items: center;
                        -webkit-box-pack: center;
                        -webkit-justify-content: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                        margin-right: 20px;
                        &:hover {
                            -webkit-box-shadow: 0 8px 18px rgba(0, 0, 0, 0.13);
                            box-shadow: 0 8px 18px rgba(0, 0, 0, 0.13);
                        }
                        &:last-child {
                            margin-right: 0;
                        }
                        .icon-post {
                            fill: #6a6a6a;
                            fill-rule: evenodd;
                        }
                        .fill-white {
                            fill: #fff;
                            fill-rule: evenodd;
                        }
                        @include bp-md {
                            width: 50px;
                            height: 50px;
                            svg {
                                width: 45%;
                                height: auto;
                            }
                        }
                        @include bp-xxs {
                            width: 40px;
                            height: 40px;
                            margin-right: 10px;
                        }
                    }
                    .bg-blue-gradient {
                        background-image: -webkit-gradient(linear, left bottom, left top, from(#1a83fb), to(#31a4fc));
                        background-image: -webkit-linear-gradient(bottom, #1a83fb 0%, #31a4fc 100%);
                        background-image: linear-gradient(to top, #1a83fb 0%, #31a4fc 100%);
                    }
                }
                .post-dp-picture {
                    @include border-radius(50%);
                    position: absolute;
                    left: 0;
                    top: -10px;
                    border: 8px solid #fff;
                    width: 76px;
                    height: 76px;
                }
            }
            .single-post {
                .post-head {
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -webkit-align-items: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -webkit-box-pack: justify;
                    -webkit-justify-content: space-between;
                    -ms-flex-pack: justify;
                    justify-content: space-between;
                    padding: 4.0625rem 15px 1.875rem;
                    .profile-details {
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -webkit-align-items: center;
                        -ms-flex-align: center;
                        align-items: center;
                        .dp-imgage {
                            width: 45px;
                            height: 45px;
                            margin-right: 15px;
                            @include bp-xxs {
                                margin-right: 10px;
                            }
                            img {
                                @include border-radius(50%);
                            }
                        }
                        p {
                            font-size: 18px;
                            font-weight: 600;
                            a {
                                color: #383838;
                                font-size: 18px;
                            }
                            span {
                                color: #c7c7c7;
                            }
                        }
                    }
                    .posted-date {
                        color: #c0c0c0;
                        font-size: 18px;
                    }
                }
                .posted-images {
                    &:hover {
                        img {
                            -webkit-box-shadow: 0 11px 29px #788491;
                            box-shadow: 0 11px 29px #788491;
                        }
                    }
                    img {
                        @extend .transition;
                        @include border-radius(10px);
                    }
                }
                .post-body {
                    margin-left: 15px;
                    margin-right: 15px;
                    background-color: #f6f6f6;
                    @include padding-all(3.4375rem 30px 30px);
                    @include bp-xs {
                        @include padding-all(3.4375rem 15px 30px);
                    }
                    .post-content {
                        h2 {
                            margin-bottom: 1.875rem;
                            a {
                                text-transform: uppercase;
                                max-width: 730px;
                                line-height: $line-height-base;
                                color: #343434;
                                display: block;
                            }
                        }
                        p {
                            margin-bottom: 15px;
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                    .comments-share {
                        @include padding-all(1.875rem 15px);
                        border-top: #e9e9e9 2px solid;
                        border-bottom: #e9e9e9 2px solid;
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -webkit-align-items: center;
                        -ms-flex-align: center;
                        align-items: center;
                        -webkit-box-pack: justify;
                        -webkit-justify-content: space-between;
                        -ms-flex-pack: justify;
                        justify-content: space-between;
                        margin-top: 2.5rem;
                        color: #a7abb1;
                        @include bp-xxs {
                            @include padding-all(1.875rem 0);
                            -webkit-flex-wrap: wrap;
                            -ms-flex-wrap: wrap;
                            flex-wrap: wrap;
                        }
                        .post-share {
                            display: -webkit-box;
                            display: -webkit-flex;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-align: center;
                            -webkit-align-items: center;
                            -ms-flex-align: center;
                            align-items: center;
                            .social-icon {
                                @include border-radius(50%);
                                @include add-border(2px, #f6f6f6, all);
                                width: 36px;
                                height: 36px;
                                /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);*/
                                display: -webkit-box;
                                display: -webkit-flex;
                                display: -ms-flexbox;
                                display: flex;
                                -webkit-box-pack: center;
                                -webkit-justify-content: center;
                                -ms-flex-pack: center;
                                justify-content: center;
                                -webkit-box-align: center;
                                -webkit-align-items: center;
                                -ms-flex-align: center;
                                align-items: center;
                            }
                            .like-icon {
                                background-color: #262c37;
                                background-image: -webkit-gradient(linear, left bottom, left top, from(#1a83fb), to(#31a4fc));
                                background-image: -webkit-linear-gradient(bottom, #1a83fb 0%, #31a4fc 100%);
                                background-image: linear-gradient(to top, #1a83fb 0%, #31a4fc 100%);
                                z-index: 2;
                            }
                            .love-icon {
                                background-color: #262c37;
                                background-image: -webkit-gradient(linear, left bottom, left top, from(#f1596f), to(#f7849a));
                                background-image: -webkit-linear-gradient(bottom, #f1596f 0%, #f7849a 100%);
                                background-image: linear-gradient(to top, #f1596f 0%, #f7849a 100%);
                                margin-left: -4px;
                                z-index: 1;
                            }
                            img {
                                @include add-border(0, #f6f6f6, all);
                                margin-right: auto;
                                margin-left: auto;
                                z-index: 0;
                            }
                            p {
                                span {
                                    color: #a7abb1;
                                }
                                a {
                                    @extend .transition;
                                    color: #a7abb1;
                                    &:hover {
                                        color: #333;
                                    }
                                }
                            }
                            @include bp-xxs {
                                -webkit-flex-wrap: wrap;
                                -ms-flex-wrap: wrap;
                                flex-wrap: wrap;
                            }
                        }
                        .post-comments {
                            @extend .transition;
                            color: #a7abb1;
                            &:hover {
                                color: #333;
                            }
                        }
                    }
                    .write-comments {
                        margin-top: 3.125rem;
                        position: relative;
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -webkit-align-items: center;
                        -ms-flex-align: center;
                        align-items: center;
                        @include bp-xxs {
                            -webkit-flex-wrap: wrap;
                            -ms-flex-wrap: wrap;
                            flex-wrap: wrap;
                        }
                        .textbox-control {
                            width: -webkit-calc(100% - 160px);
                            display: block;
                            width: calc(100% - 160px);
                            input {
                                @include border-radius(60px);
                                @extend .transition;
                                height: 60px;
                                background-color: #ffffff;
                                -webkit-box-shadow: none;
                                box-shadow: none;
                                border: none;
                                padding: 20px 60px 20px 20px;
                                font-size: 18px;
                                -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
                                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
                                width: 100%;
                                max-width: 100%;
                                &:focus {
                                    border: transparent;
                                    -webkit-box-shadow: 0 7px 17px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
                                    box-shadow: 0 7px 17px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
                                    outline: 0 none;
                                }
                                &::-webkit-input-placeholder {
                                    color: #cecece;
                                }
                                // @include bp-md {
                                //     width: -webkit-calc(100% - 120px);
                                //     display: block;
                                //     width: calc(100% - 120px);
                                // }
                            }
                            @include bp-xxs {
                                width: 100%;
                            }
                            .comment-camera {
                                @extend .transition;
                                @extend .transformY;
                                position: absolute;
                                right: 180px;
                                @include bp-xxs {
                                    position: absolute;
                                    right: 20px;
                                    top: 32px;
                                }
                                &:hover {
                                    .icon-color {
                                        fill: $icon-hover-color;
                                    }
                                }
                            }
                        }
                        .comments-button {
                            @extend .transition;
                            @include border-radius(50%);
                            width: 60px;
                            height: 60px;
                            display: -webkit-box;
                            display: -webkit-flex;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-pack: center;
                            -webkit-justify-content: center;
                            -ms-flex-pack: center;
                            justify-content: center;
                            -webkit-box-align: center;
                            -webkit-align-items: center;
                            -ms-flex-align: center;
                            align-items: center;
                            margin-left: 20px;
                            &:hover {
                                -webkit-box-shadow: 0 8px 18px rgba(0, 0, 0, 0.13);
                                box-shadow: 0 8px 18px rgba(0, 0, 0, 0.13);
                            }
                            @include bp-md {
                                width: 50px;
                                height: 50px;
                                svg {
                                    width: 45%;
                                    height: auto;
                                }
                            }
                            @include bp-xxs {
                                width: 40px;
                                height: 40px;
                                margin-top: 15px;
                            }
                        }
                        .comments-reply {
                            background-color: white;
                            -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
                            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
                            @include bp-xxs {
                                margin-left: 0;
                            }
                        }
                        .comments-like {
                            background-image: -webkit-gradient(linear, left bottom, left top, from(#1a83fb), to(#31a4fc));
                            background-image: -webkit-linear-gradient(bottom, #1a83fb 0%, #31a4fc 100%);
                            background-image: linear-gradient(to top, #1a83fb 0%, #31a4fc 100%);
                            -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
                            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
                            img {
                                width: 45%;
                            }
                            @include bp-xxs {
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}
